[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/lzylili/hugo-paper.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/longx-bio/hugo-paper.git
